Include config_private

host github.com
  user git
  IdentityFile ~/.ssh/id_ed25519

host gitlab.com
  user git
  IdentityFile ~/.ssh/id_ed25519

host *
  AddKeysToAgent yes
  Compression yes
  StrictHostKeyChecking no
  ForwardAgent yes
  ControlMaster auto
  ControlPath ~/.ssh/sockets/%r@%h-%p
  ControlPersist 72000
  PubkeyAuthentication yes
  IdentityFile ~/.ssh/id_ed25519
